.Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.Form {
    width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Label {
    display: block;
    margin-bottom: 10px;
}

.Input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: rgb(224, 200, 42);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
